* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    background-color: #fff;
}

.container{
    left: 480px;
    right: 720px;
    height: 800px;
    margin:0 auto;
}

.left-image{
    width: 45%;
    height: 100%;
    float: left;
}

.left-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}