* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    background-color: #fff;
}

.container{
    left: 480px;
    right: 720px;
    height: 800px;
    margin:0 auto;
}