* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    background-color: #fff;
}

.left-image{
    width: 45%;
    height: 100%;
    float: left;
}

.left-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-form{
    width: 55%;
    height: 100%;
    float: left;
    padding: 50px 70px;
}

.logo{
    width: 120px;
    margin-bottom: 30px;
}

.right-form h2{
    color: #8b5e3c;
    margin-bottom: 5px;
}

.form-alert{
    color: #777;
    margin-bottom: 30px;
}

label{
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
    margin-top: 15px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.input-box img{
    position: absolute;
    width: 18px;
    top: 13px;
    left: 12px;
}

.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 45px;
    outline: none;
}

button{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    background:#FF8906;
    border: none;
    color: #0B132A;
    font-size: 16px;
    border-radius: 6px;
}

.login-question{
    text-align: center;
    margin-top: 15px;
}

.login-question a{
    color: #FF8906;
    text-decoration: none;
}

.or{
    text-align: center;
    margin: 25px 0;
    color: #AAAAAA;
}

.social-account{
    width: 100%;
    margin-top: 10px;
    overflow: 10px;
    text-align: center;
}

.social-box{
    width: 48%;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 6px;
    line-height: 45px;
    margin: 5px;
    text-align: center;
    float: left;
}

.social-box img{
    width: 18px;
    vertical-align: middle;
    margin-right: 8px;
}

.header{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

.navbar-container{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

.navbar-logo{
    float: left;
    height: 80px;
}

.navbar-logo img{
    height: 32px;
    margin-top: 24px;
}

.navbar-menu{
    float: left;
    margin-left: 120px;
    margin-top: 30px
}

.navbar-menu a{
    color: #bbb;
    text-decoration: none;
    margin-right: 40px;
    font-size: 14px;
}

.navebar-menu a.active{
    color: #fff;
}

.navbar-right{
    float: right;
    margin-top: 22px;
}

.nav-icon{
    width: 18px;
    margin-right: 18px;
    vertical-align: middle;
}

.signin{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
}

.signup{
    background: #FF8906;
    text-decoration: none;
    color: #000;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 14px;
}

.section-1{
    width: 100%;
    height: 600px;
    background-color: #777C82;
    background-image: linear-gradient(to top, #0B0909, #777C82);
}

.section-left{
    width: 40%;
    float: left;
    padding: 100px 80px;
    color: white;
}

.section-left h1{
    font-size: 42px;
    margin-bottom: 20px;
}

.section-left p{
    font-size: 14px;
    line-height: 22px;
}

.btn-section1{
    background: orange;
    border: none;
    padding: 12px 26px;
    margin-top: 20px;
    width: 45%;
    cursor: pointer;
}

.section-right{
    width: 60%;
    float: right;
}

.section-right img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.statistic{
    margin-top: 40px;
}

.statistic-box{
    display: inline-block;
    margin-right: 40px;
}

.container{
    width: 1200px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 55% 45%;
}

.content-left{
    padding-left: 20px;
}

.content-left h1{
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.subtitle{
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
    max-width: 400px;
}

.feature-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.feature-list img{
    width: 16px;
    vertical-align: middle;
    margin-right: 10px;
}

.feature-list li{
    margin-bottom: 12px;
    font-size: 14px;
}

.content-right{
    position: relative;
    right: 138px;
    bottom: 80px;
    width: 50px;
    height: 40px;
    padding-bottom: 450px;
}

.fav-wrap {
    width: 1100px;
    margin: 120px auto;
}

.fav-title h2 {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
}

.fav-title span {
    color: #c78a2b;
}

.fav-title p {
    font-size: 13px;
    color: #8b8b8b;
    margin-top: 6px;
    text-align: center;
}

.fav-card-area {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
}

.fav-item {
    background: #fff;
    padding: 18px 16px 22px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.08);
}

.fav-item img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    margin-bottom: 14px;
}

.fav-item h4 {
    font-size: 15px;
    margin-bottom: 8px;
}

.fav-item p {
    font-size: 12px;
    color: #777;
    line-height: 1.5;
    margin-bottom: 14px;
}

.fav-price {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #c78a2b;
    margin-bottom: 10px;
}


.fav-btn {
    display: inline-block;
    padding: 6px 22px;
    font-size: 12px;
    background: #c78a2b;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
}

.map-section{
    width: 1100px;
    margin: 120px auto;
    text-align: center;
}

.map-head h2{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 8px;
}

.map-head span{
    color: #c78a2b;
}

.map-head p{
    font-size: 13px;
    color: #8b8b8b;
    max-width: 520px;
    margin: 0 auto 50px;
    line-height: 1.5;
}

.map-image img{
    width: 100%;
    max-width: 900px;
    opacity: 0.9;
}

.testi-section{
    width: 100%;
    background: linear-gradient(to right, #1c1c1c, #000);
    padding: 120px 0;
}

.testi-box{
    width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
}

.testi-image img{
    width: 100%;
}

.testi-content{
    color: #ffff;
    padding-left: 60px;
}

.testi-label{
    font-size: 12px;
    letter-spacing: 2px;
    color: #777C82;
    margin-bottom: 100px;
}

.testi-name{
    font-size: 50px;
    margin: 10px 0 4px;
}

.testi-role{
    font-size: 13px;
    color:#FF8906;
    margin-bottom: 20px;
}

.testi-text{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    color: #dddd;
    max-width: 460px;
    margin-bottom: 20px;
}

.testi-rating{
    font-size: 14px;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 30px;
}

.testi-rating img{
    width: 200px;
    vertical-align: middle;
    margin-right: 6px;
    padding-right: 10px;
}

.nav-prev{
    background: #333;
    color: #fff;
}

.footer-section{
    background: #f8f8f8;
    padding: 80px 0;
    font-size: 13px;
    color: #555;
}

.footer-content{
    width: 1100px;
    margin: 0 auto;
}

.footer-brand{
    float: left;
    width: 35%;
}

.footer-brand img{
    width: 140px;
    margin-bottom: 16px;
}

.footer-brand p{
    line-height: 1.6;
    margin-bottom: 16px;
}

.foot-copy{
    font-size: 12px;
    color: #999;
}

.footer-col{
    float: left;
    width: 18%;
}

.footer-col h4, .footer-social h4{
    font-size: 14px;
    margin-bottom: 14px;
    color: #333;
}

.footer-col ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a{
    text-decoration: none;
    color: #555;
}

.footer-col{
    position: relative;

}

.footer-social a{
    display: inline-block;
    margin-right: 10px;
}

.footer-social img{
    width: 28px;
}
